include globals.pug

div.row
  div.col.s12
    h4
      i.mdi.mdi-account
      ='{{ langManager.messages.usersForm.titles[0] }}'

div.row
  div.col.s12
    +responsiveTable('langManager.messages.usersForm.tableHeaders')
      tr('*ngFor'='let u of users | keys')
        td: ='{{ users[u].employee_num }}'
        td: ='{{ users[u].first_name }} {{ users[u].last_name }}'
        td: ='{{ users[u].role_name }}'
        td: div.switch: label
          ='{{ langManager.messages.usersForm.inactive }}'
          input(
            type='checkbox' 
            '[(ngModel)]'='users[u].is_active'
            '(click)'='onToggleUserActivation(u, $event.target.checked)'
          )
          span.lever
          ='{{ langManager.messages.usersForm.active }}'