include globals.pug

div.row
  div.col.s6
    +button(
      'button',
      'add-section',
      '{{ langManager.messages.inventory.procedure.addSectionButton }}',
      'mdi mdi-plus'
    )(
      '(click)'='onAddSectionButtonClick()'
    )
div.row
  div.col.s12
    +table(
      'langManager.messages.inventory.procedure.labTableHeaders'
    )
      tr('*ngFor'='let row of sections')
        td='{{ row.name }}'