include globals.pug

mz-modal(
  '[options]'='modalOptions'
  '[fixedFooter]'='true'
  '[fullscreen]'='true'
  '[bottomSheet]'='true'
)
  mz-modal-header
    div.container: div.row: div.col.s12
      ='{{ langManager.messages.display.title }}'
  mz-modal-content
    div.container
      div.row
        div.col.s12
          h6='{{ documentType }} - {{ fileDate }}'

      div.row
        div.col.s12
          +textArea(
            'notes',
            65535,
            'langManager.messages.upload.notesLabel'
          )(
            '[(ngModel)]'='notes'
            '[readonly]'='true'
          )
      
      div.row
        div.col.s12.viewerjs-container
          +viewerJSDoc('sanitizedPath')
  mz-modal-footer
    +button(
      'button',
      'close-modal',
      '{{ langManager.messages.global.close }}',
      'mdi mdi-close-circle-outline'
    )(
      class='red'
      mz-modal-close
    )