include globals.pug

mz-modal('[options]'='modalOptions')
  mz-modal-header
    ='{{ langManager.messages.inventory.lab.subtypeTitle }}'
  mz-modal-content
    div.container
      form(
        '[formGroup]'='captureForm'
        novalidate
      )
        div.row 
          div.col.s6
            +select(
              'analysis-type',
              'langManager.messages.upload.lab.typeNameLabel',
              'langManager.messages.global.selectPlaceholder',
              'types',
              '.name', '.id'
            )(
              formControlName='typeID'
              mz-validation
              required
              '[errorMessageResource]'='langManager.messages.inventory.lab.parentErrors'
            )
          div.col.s6
            +textInput(
              'name',
              'langManager.messages.upload.lab.subtype'
            )(
              formControlName='name'
              mz-validation
              required
              '[errorMessageResource]'='langManager.messages.inventory.lab.errors'
            )
  mz-modal-footer
    +button(
      'submit',
      'form-submit',
      '{{ langManager.messages.global.submit }}',
      'mdi mdi-send'
    )(
      '[disabled]'='captureForm.valid == false'
      '(click)'='onFormSubmit()'
      mz-modal-close
    )