include globals.pug

mz-modal(
  '[options]'='modalOptions'
  '[fixedFooter]'='true'
  '[fullscreen]'='true'
)
  mz-modal-header
    div.container: div.row: div.col.s12
      ='{{ langManager.messages.upload.title }}'
  mz-modal-content
    div.container
      form(
        '[formGroup]'='uploadForm'
        novalidate
      )
        div.row
          +dateInput(
            'document-date', 
            'langManager.messages.upload.docDateLabel',
            'langManager.messages.global.datePickerConfig',
            'col s12'
          )(
            formControlName='documentDate'
            mz-validation
            required
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
          )
          div.col.s12.m6
            +select(
              'zone', 'langManager.messages.upload.zoneLabel', 'langManager.messages.global.selectPlaceholder',
              'zones', '.name'
            )(
              formControlName='zone'
              '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
              mz-validation
              required
            )
          div.col.s12.m6
            +select(
              'products', 'langManager.messages.upload.certificateNameLabel',
              'langManager.messages.global.selectPlaceholder',
              'products', '.name'
            )(
              formControlName='product'
              mz-validation
              required
              '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            )

        div.row
          div.col.s12
            +textArea(
              'notes',
              65535,
              'langManager.messages.upload.notesLabel'
            )(
              formControlName='notes'
              mz-validation
              '[errorMessageResource]'='langManager.messages.upload.errors.notes'
            )
          div.col.s12
            +fileInput(
              'analysis-document',
              '{{ langManager.messages.upload.guarantee.letterLabel }}',
              '{{ langManager.messages.upload.fileButtonLabel }}'
            )(
              '(change)'='onCertificateFileSelected($event)'
            )
  mz-modal-footer
    +button(
      'submit',
      'submit-document',
      '{{ langManager.messages.global.submit }}',
      'mdi mdi-send'
    )(
      '[disabled]'='!uploadForm.valid || !selectedDocumentFile'
      '(click)'='onCertificateDocumentUpload()'
      mz-modal-close
    )