include globals.pug

mz-modal(
  '[options]'='modalOptions'
  '[fixedFooter]'='true'
  '[fullscreen]'='true'
)
  mz-modal-header
    div.container: div.row: div.col.s12
      ='{{ langManager.messages.report.title }}'
  mz-modal-content
    div.container
      form(
        '[formGroup]'='reportForm'
        novalidate
      )
        div.row
          +dateInput(
            'start-date', 
            'langManager.messages.search.startDateLabel',
            'langManager.messages.global.datePickerConfig',
            'col s12 m4'
          )(
            formControlName='startDate'
            mz-validation
            required
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
          )
          +dateInput(
            'end-date', 
            'langManager.messages.search.endDateLabel',
            'langManager.messages.global.datePickerConfig',
            'col s12 m4'
          )(
            formControlName='endDate'
            mz-validation
            required
            '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
          )
          div.col.s12.m4
            +select(
              'zone', 'langManager.messages.upload.zoneLabel', 'langManager.messages.global.selectPlaceholder',
              'zones', '.name'
            )(
              formControlName='zone'
              mz-validation
              required
              '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
            )
  mz-modal-footer
    +button(
      'report',
      'report-document',
      '{{ langManager.messages.search.buttonLabel }}',
      'mdi mdi-magnify'
    )(
      '[disabled]'='!reportForm.valid'
      '(click)'='onLabDocumentReport()'
      mz-modal-close
    )