include globals.pug

div.row: div.col.s12: h4
  ='{{ langManager.messages.search.title }}'


form(
  '[formGroup]'='searchForm'
  novalidate
)
  div.row
    +dateInput(
      'start-date', 
      'langManager.messages.search.startDateLabel',
      'langManager.messages.global.datePickerConfig',
      'col s12 m6'
    )(
      formControlName='startDate'
      mz-validation
      required
      '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
    )
    +dateInput(
      'end-date', 
      'langManager.messages.search.endDateLabel',
      'langManager.messages.global.datePickerConfig',
      'col s12 m6'
    )(
      formControlName='endDate'
      mz-validation
      required
      '[errorMessageResource]'='langManager.messages.upload.errors.documentDate'
    )

  div.row
    div.col.s12.m6
      +select(
        'zone', 'langManager.messages.upload.zoneLabel', 'langManager.messages.global.selectPlaceholder',
        'zones', '.name'
      )(
        formControlName='zone'
      )
    div.col.s12.m6
      +select(
        'section', 'langManager.messages.upload.sectionLabel', 'langManager.messages.global.selectPlaceholder',
        'sections', '.name'
      )(
        formControlName='section'
      )        

div.row: div.col.s12
  +button(
    'search',
    'search-document',
    '{{ langManager.messages.search.buttonLabel }}',
    'mdi mdi-magnify'
  )(
    '[disabled]'='!searchForm.valid'
    '(click)'='onProcedureDocumentSearch()'
  )

list-training(
  '[searchResults]'='searchResults'
)