// Este archivo contiene todas las funciones y variables globales que son 
// necesarias para crear la hoja de estilo para las vistas del proyecto
@tabletScreenWidth: 600px;
@desktopScreenWidth: 992px;
@largeDesktopScreenWidth: 1200px;
@pageBgColor: rgb(245, 245, 245);
@sideNavWidth: 300px;

// Cambia el color de fondo de la pagina
body {
  background-color: @pageBgColor;
}

// Esta clase permitira a cualquier boton, flotar permanentemente en la esquina 
// inferior derecha de la pantalla
.floating-btn {
  position: fixed !important;
  bottom: 10px;
  right: 10px;
}

// Permite desplegar correctamente un documento desplegado con ViewerJS dentro 
// de un contenedor tipo columna de materialize
.viewerjs-container {
  height: ~"calc(100vh - 225px)";
}

// Esta clase sobreescribe el estilo de una tabla responsiva para que los datos 
// se muestren siempre en forma horizontal, incluso cuando la pantalla es grande
table.responsive-table.permanently-horizontal {
  .responsive-table-col {
    margin: 0;
    vertical-align: top;
  }
  @media screen and (min-width: @desktopScreenWidth) {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
  }
  thead {
    @media screen and (min-width: @desktopScreenWidth) {
      border: 0;
      border-right: 1px solid #d0d0d0;
      display: block;
      float: left;
    }
  }
  th {
    @media screen and (min-width: @desktopScreenWidth) {
      display: block;
      text-align: right;
      .responsive-table-col
    }
  }
  tbody {
    @media screen and (min-width: @desktopScreenWidth) {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  tr {
    @media screen and (min-width: @desktopScreenWidth) {
      display: inline-block;
      vertical-align: top;
      padding: 0 10px;
    }
  }
  td {
    @media screen and (min-width: @desktopScreenWidth) {
      display: block;
      min-height: 1.25em;
      text-align: left;
      .responsive-table-col
    }
  }
}

// Hace que los textos en las etiquetas de los campos de captura de los 
// formularios sean gruesos y negros, esto fue una peticion del cliente pues 
// tenian dispositivos en donde la combinacion del color gris claro con el 
// tamaño chico de letra no permitia que el texto se apreciara correctamente en 
// dichas pantallas
label {
  font-weight: 900;
  color: black !important;
}

input:disabled {
  color: black !important;
}